body{

  background-image: url("Book1.jpeg");
}

.list{
  color:black ;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color:pink;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family:Georgia, serif;

} 
label {
  text-align: center;
  font-style: italic;
  color:black;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color:gray;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family:Georgia, serif;
}
input{
  text-align: center;
  
}
button{
    background-color: gray; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-style: italic;
  margin: 4px 2px;
  font-family:Georgia, serif;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  height: 10%;
}
h1{
  color:black;
  width: 800px;
  margin: 20px auto;
  height: 50px;
  background-color:pink;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  font-family:Georgia, serif;
}
p{
  color:black;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color:pink;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family:Georgia, serif;
}